-i https://217.182.160.171:9002/bgruser/stable/
backports.functools-lru-cache==1.5
bee-data-cleaning==0.0.5
bee-dataframes==0.0.1
boto3==1.9.8
botocore==1.12.8
cachetools==2.1.0
certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
datetime-functions==0.0.1
decorator==4.3.0
docutils==0.14
enum34==1.1.6
functools32==3.2.3.post2
futures==3.2.0
google-api-core==1.4.0
google-auth==1.5.1
google-cloud-core==0.28.1
google-cloud-dataproc==0.2.0
google-cloud-logging==1.7.0
google-cloud-storage==1.12.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
happybase==1.1.0
hive-functions==0.0.3
idna==2.7
ipython-genutils==0.2.0
jmespath==0.9.3
jsonschema==2.6.0
jupyter-core==4.4.0
kiwisolver==1.0.1
matplotlib==2.2.3
mrjob==0.6.5
nbformat==4.4.0
numpy==1.15.1
pandas==0.23.4
plotly==3.2.1
ply==3.11
protobuf==3.6.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pyhs2==0.6.0
pymongo==3.7.1
pyparsing==2.2.1
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.13
querybuilder==0.0.1
requests==2.19.1
retrying==1.3.3
rsa==4.0
s3transfer==0.1.13
sasl==0.2.1
scipy==1.1.0
six==1.11.0
snakebite==2.11.0
subprocess32==3.5.2
thrift==0.11.0
thriftpy==0.3.9
traitlets==4.3.2
urllib3==1.23
virtualenv==16.0.0
statsmodels==0.9.0
